<nav>
  <div class="nav-wrapper green darken-1">
    <a href="/combat_scenarios" class="brand-logo center">Path Minder</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <% if current_user %>
          <%= link_to "Logout", logout_path, method: :delete %>
        <% end %>
      </li>
  </div>
</nav>
